node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
# check in packge-lock to make sure package sync in all test host
# package-lock.json
yarn.lock

# Ignore Shopify CLI state/config
.shopify/
